# Build
build/
dist/

# Installer outputs
mysetup.exe
WPStools_Installer.exe
install/*.exe

# IDE
.vs/
*.user
*.suo

# Archives
*.zip
*.7z

# Old package directory
package/

# Qt Creator
*.pro.user
CMakeLists.txt.user

# Compiled
*.obj
*.ilk
*.pdb

# Temp
test_install/
install_test_log.txt
